body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #49d2ff;
    font-family: Arial, sans-serif;
  }
  
  button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  button:hover {
    background-color: var(--hover-color, #007bff); /* Color por defecto */
  }
  