/* Aplicar múltiples imágenes de fondo al cuerpo */
body {
    background-image: url('amogus.png');
    background-position: center, top left;
    background-repeat: no-repeat, repeat;
    background-size: cover, 50px 50px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el título principal */
.titulo-principal {
    text-align: center;
    font-size: 2em;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Ajustes en el párrafo principal */
main p {
    margin: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.2em;
    line-height: 1.5;
}
